<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8" />
    <title th:text="#{enterCode.pageTitle}">Enter Link Code</title>
</head>
<body>
    <h1 th:text="#{enterCode.loginHeader}">Log into Acme Service</h1>
    <form action="/deviceLink/login" method="post">
        <label th:text="#{enterCode.linkCodeLabel}">Link Code:</label>
        <input type="text" id="linkCode" name="linkCode" value="" th:value="${linkCode}"/>
        <br />
        <label th:text="#{enterCode.usernameLabel}">Username:</label>
        <input type="text" id="username" name="username" size="20" />
        <br />
        <label th:text="#{enterCode.passwordLabel}">Password:</label>
        <input type="password" id="password" name="password" size="20" />
        <input type="hidden" id="linkDeviceId" name="deviceId" th:value="${deviceId}" />
        <input type="submit" id="login" value="log in to Acme Service" th:value="#{entercode.submitbuttonvalue}"/>
    </form>
</body>
</html>