<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Saved</title>
</head>
<body>
    <h1>Success!</h1>
    <p>
        <span th:text="${username}"/>'s Acme Service account is enabled on Sonos
    </p>
    <p>
        Auth Token: <span th:text="${authToken}"/>
    </p>
    <p>
        You can safely close this window.
    </p>
</body>
</html>